<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <a style="text-decoration: underline;" class="navbar-brand border-right p-4" href="/">Home</a>
        <a style="text-decoration: underline;" class="navbar-brand" href="/projects">Projects</a>
        <a class="navbar-brand border-left p-4">Contact</a>
        <hr>
        <h1 class="m-4">Contact Me!</h1>

            <div class="row">
                <div class="col">
                    <h3>Your Info</h3>
                    <input class="mt-4 form-control-sm" type="text" placeholder="Name"><br>
                    <input class="mt-4 form-control-sm" type="text" placeholder="Email"><br>
                </div>
                <div class="col">
                    <h3>Message</h3>
                    <textarea class="form-control" name="Message" placeholder="start typing here" cols="40" rows="5"></textarea>
                </div>
            </div>
            <input onclick="window.location='/';" type="Submit" value="Send" class="m-4 btn btn-primary">

    </div>
</body>
</html>