<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container text-center">
    <a class="navbar-brand border-right p-4">Home</a>
    <a style="text-decoration: underline;" class="navbar-brand" href="/projects">Projects</a>
    <a style="text-decoration: underline;" class="navbar-brand border-left p-4" href="/contact">Contact</a>
    <hr>

    <h1 class="m-4">About Me</h1>
    <div class="row">
    <div class="col mt-4">
    <img src="/images/me.jpg" alt="me" style="width: 200px;">
    <h3 class="mt-4">Ryan Giffin</h3>
    <h3 class="mt-4">I like to code!</h3>
    </div>
    <div class="col mt-4">
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet consectetur adipiscing elit ut aliquam purus. In pellentesque massa placerat duis. Id velit ut tortor pretium viverra suspendisse potenti nullam ac. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Nunc consequat interdum varius sit. Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat. Libero id faucibus nisl tincidunt eget nullam non nisi. Sed tempus urna et pharetra pharetra. At lectus urna duis convallis convallis tellus id interdum velit. Eu turpis egestas pretium aenean pharetra magna ac placerat vestibulum. </h4>
    </div>
    </div>
</div>
</body>
</html>