<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">
  <div class="container">
  <a style="text-decoration: underline;" class="navbar-brand border-right p-4" href="/">Home</a>
  <a class="navbar-brand">Projects</a>
  <a style="text-decoration: underline;" class="navbar-brand border-left p-4" href="/contact">Contact</a>
  <hr>

   <h1 class="m-4">Here are some projects of mine!</h1> 
      <div class="row m-4 shadow p-4">
        <div class="col-4">
            <img src="/images/stock1.jpg" alt="image1" style="width: 225px; height: 150px">
        </div>   
        <div class="col-8 my-auto">
            <h3>Project 1</h3>
            <h4>This is a short description of the project</h4>
        </div>
      </div>
      <div class="row m-4 shadow p-4">
        <div class="col-4">
            <img src="/images/stock2.jpg" alt="image1" style="width: 225px; height: 150px">
        </div>   
        <div class="col-8 my-auto">
            <h3>Project 2</h3>
            <h4>This is a short description of the project</h4>
        </div>
      </div>
      <div class="row m-4 shadow p-4">
        <div class="col-4">
            <img src="/images/stock3.jpg" alt="image1" style="width: 225px; height: 150px">
        </div>   
        <div class="col-8 my-auto">
            <h3>Project 3</h3>
            <h4>This is a short description of the project</h4>
        </div>
      </div>
</div>
</body>
</html>